<html>
  <%- include('../components/head'); %>

  <body class="container">
    <%- include('../components/header', {pagina: 'Sobre'}); %>
    <main>
      <div class="p-5 bg-secondary text-white">
        <h1>About</h1>
        <p>testando a pagina about</p>
      </div>
    </main>
    <%- include('../components/footer'); %>
  </body>
</html>
