<head>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
  />
  <title>Document</title>
  <style>
    body {
      padding-top: 50px;
    }
  </style>
</head>
